@import "./variables.scss";
@import "./utilities.scss";

html,
body {
  width: 100%;
  margin: 0;
  background-color: $color-white;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
}

a,
a:visited {
  color: $color-white;
}

button {
  font-family: "Lato", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr[role="separator"] {
  border: 0 none;
  border-bottom: 2px dotted $color-dark-gray;
  margin: 1.5rem 1rem;
}

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: calc(100vw - 2rem);
  min-height: 10rem;
  justify-content: space-between;
  padding: 0 1rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.icon-button[aria-label="thumbs up"] {
  background-color: rgba($color-green-positive, 0.8);
  cursor: pointer;
}

.icon-button[aria-label="thumbs up"]:hover {
  background-color: rgba($color-green-positive, 1);
}

.icon-button[aria-label="thumbs down"] {
  background-color: rgba($color-yellow-negative, 0.8);
  cursor: pointer;
}

.icon-button[aria-label="thumbs down"]:hover {
  background-color: rgba($color-yellow-negative, 1);
}

.icon-button > img {
  width: 100%;
  height: 100%;
}

.nav__logo {
  margin: 2.5rem 0 0;
  color: $color-white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.nav__hamburger {
  position: relative;
  top: 2rem;
  right: 1rem;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.nav__links {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: calc(100vh - 4rem);
  flex-direction: column;
  padding: 4rem 0 2rem;
  background-color: $color-darker-background;
  transform: translateX(100vw);
}

.nav__links li {
  width: 100%;
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.nav__links a {
  color: $color-white;
  text-decoration: none;
}

.nav__hamburger:focus + .nav__links,
.nav__links:focus-within {
  transform: translateX(0);
}

.nav__links li:last-child {
  order: -1;
}

.nav__search {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.nav__search-input {
  width: 25vw;
  border: 0;
  border-bottom: 2px solid $color-white;
  background-color: transparent;
  border-radius: 0;
  color: $color-white;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  transition: width 0.2s ease-in;
}

.nav__search-input:focus {
  width: 60vw;
  outline: 0 none;
}

.hero {
  position: relative;
  overflow: hidden;
  height: 80vw;
  min-height: 35rem;
  max-height: 38rem;
  margin-bottom: 2rem;
}

.hero__background {
  position: absolute;
  left: -35vw;
  width: 160vw;
  height: 100%;
  object-fit: cover;
}

.hero__featured-card {
  position: relative;
  top: 5.5rem;
  left: 1rem;
  overflow: hidden;
  width: 55vw;
  max-height: 25rem;
}

.hero__closing-gauge {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: $color-light-background;
}

.featured-card__glass-background {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background: center no-repeat
      linear-gradient($color-dark-background, $color-dark-background),
    -25vw 0/160vw no-repeat url("../assets/img/pope-francis.png");
  filter: blur(1rem);
}

.featured-card__content {
  position: relative;
  padding: 1rem;
  color: $color-white;
}

.featured-card__hairline {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}

.featured-card__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.featured-card__desc {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

.featured-card__cta {
  font-weight: 700;
}

.featured-card__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem -1rem;
}

.featured-card__buttons > .icon-button {
  width: 50%;
  height: 2.75rem;
}

.featured-card__buttons > .icon-button > img {
  max-width: 1.25rem;
}

.closing-gauge__left {
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.25rem 0 0;
  background-color: $color-dark-background;
  color: $color-white;
  font-weight: 300;
  text-transform: uppercase;
}

.closing-gauge__left:after {
  position: absolute;
  right: -0.5rem;
  display: block;
  width: 0;
  height: 0;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 0.5rem solid $color-dark-background;
  content: " ";
}

.closing-gauge__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 0.75rem;
}

.closing-gauge__number {
  color: $color-dark-gray;
  font-size: 1.5rem;
  font-weight: 400;
}

.closing-gauge__desc {
  color: $color-dark-gray;
  font-size: 1.5rem;
  font-weight: 300;
}

.banner {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: $color-light-gray;
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
  pointer-events: none;
}

.banner-top .banner__left {
  flex-basis: 40%;
  padding-right: 1rem;
}

.banner-top .banner__left > .banner__hairline {
  color: $color-dark-gray;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -0.07rem;
}

.banner-top .banner__left > .banner__title {
  display: block;
  color: $color-dark-gray;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

.banner-top .banner__right {
  flex-basis: 60%;
}

.banner-top .banner__text {
  margin: 0;
  color: $color-dark-gray;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

.banner-bottom {
  flex-direction: column;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

.banner-bottom .banner__heading {
  position: relative;
  margin: 0 0 1rem;
  color: $color-dark-gray;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.banner-bottom .banner__right {
  width: 100%;
}

.banner-bottom .banner__cta {
  position: relative;
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: 2px solid $color-darker-background;
  background: transparent;
  color: $color-darker-gray;
  font-size: 1.5rem;
  cursor: pointer;
}

main[role="main"] {
  padding: 0 1rem;
  margin-top: 2rem;
}

main h2,
main h3,
main h4 {
  color: $color-dark-gray;
  font-weight: 300;
}

main h2 {
  margin: 0 0 2rem;
  font-size: 2rem;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 1rem 3rem;
}

.footer__links li {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

.footer__links li a {
  color: $color-dark-gray;
  text-decoration: none;
}

.footer__links li a:hover {
  color: $color-darker-gray;
  text-decoration: underline;
}

.footer__social > span {
  color: $color-darker-gray;
  font-size: 1.25rem;
  text-align: right;
  cursor: pointer;
}

.footer__social > ul {
  display: flex;
  margin-top: 1rem;
}

.footer__social > ul > li {
  margin-right: 1rem;
}

.featured-card__more-info {
  display: none;
}

.featured-card__more-info-icon {
  width: 1.5rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.banner-top .icon-button {
  display: none;
}

.max-centered {
  display: contents;
}

.borde {
  border: 1px solid red;
}

/* loading styles*/
.backdrop_preload {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.shadow_loading {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.logo_circle {
  width: inherit;
  padding: 4px;
}
.avatar_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  padding: 22px;
  background: white;
}


.loading_text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.dropdown_filter,
.dropdown_option {
  font-size: 14px;
  background: white;
  width: 220px;
  height: 37px;
  position: relative;
  border: 2px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
/*dropdown styles*/
.dropdown_filter span {
  padding-right: 20px;
}
.container_dropdown_option {
  position: absolute;
}
.dropdown_option {
  padding-right: 0px;
  border-top: 0px;
}

.arrow-down {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333333;
}
/* ruling styles */
.container_rulings_filter {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 7px;
}

.container_rulings_filter h2 {
  padding: 0px;
  margin: 0px;
}

div.swiper-container {
  padding-bottom: 2px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 20px;
}

.list {
  display: block !important;
  width: 100%;
}
div.list .swiper-slide  {
  height: 170px;
}

.swiper_phone {
  display: flex;
  flex-wrap: nowrap;
}
.swiper-slide{
  margin-top: 15px;
  color: white;
}

.list .swiper-slide{
  background: linear-gradient(
90deg
, #b3abab 0%, 31.0484%, rgb(105, 105, 105) 62.0968%, 81.0484%, rgb(127, 127, 127) 100%)
}
.swiper_phone .swiper-slide {
  margin-right: 10px;
  width: 300px !important;
  height: 300px !important;
}

.container_image_ruling, .image_ruling {width:100%;height: 100%; }
.container_image_ruling {
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.container_ruling_texts{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.container_ruling_texts .rulign_title,.container_ruling_texts .rulign_description{
  padding-left: 2.5rem;
  padding-right: 21px;
  z-index: 2;
}

.rulign_title{
  font-size: 3rem;
  margin: 0px;
}
.thumbs_icon_selected,.rulign_title{
  display: inline-block;
  
}
.thumbs_icon_selected.icon-button[aria-label="thumbs up"],.thumbs_icon_selected.icon-button[aria-label="thumbs down"]{
  cursor:auto;
}

.thumbs_icon_selected{
  position: absolute;
  top:9px;
  width: 2.4rem;
  height: 2.4rem;
  left: 0px;
 
}
.thumbs_icon_selected img{
  max-width: 1.25rem;
}

.rulign_description{
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ruling_ago{
  font-size: 1.1rem;
  font-weight: 600;
  right: 27px;
  top: -32px;
  position: absolute;
}

.container_bar_percentage{
  position: absolute;
  display: flex;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.positive_ruling, .negative_ruling{
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}



button.thumb_selected{
  border: 2px solid white;
}
.positive_ruling{
  background-color: rgba($color-green-positive, 0.8);
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
}
.negative_ruling{
  background-color: rgba($color-yellow-negative, 0.8);
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.negative_ruling  .icon-button[aria-label="thumbs down"],.positive_ruling  .icon-button[aria-label="thumbs up"]{
  background: none;
}
.ruling_percentaje_number_positive, .ruling_percentaje_number_negative{
  font-size: 1.5rem;
  z-index: 2;
}
.positive_ruling button, .negative_ruling button{
  position: absolute;
  z-index: 2;
}

.ruling_percentaje_number_positive{
  padding-left: 23px;
}
.ruling_percentaje_number_negative{
  padding-right: 23px;
}

.button_actions{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  justify-content: flex-end;
  bottom: 42px;
  width: 100%;
}
.btn_vote{
  width: 104px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.25rem;
  border: 1px solid white;
  z-index: 2;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 26px;
}

.btn_vote:hover{
  background-color: rgba(0,0,0,1);
}

.btn_rate{
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  margin-left: 10px;
}

.btn_rate img{
    max-width: 1.25rem;
}

.thanks_vote{
  position: absolute;
  bottom: 34px;
  font-size: 1rem;
  right: 16px;
  width: 100%;
  text-align: right;
}

.swiper_phone .container_ruling_texts{
  padding-bottom: 31px;
}
@media all and (min-width: 500px) {
  .banner-top .banner__left {
    flex-basis: 30%;
  }

  .banner-top .banner__right {
    flex-basis: 70%;
  }

 
  .grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
  }
  .grid .swiper-slide {
    width: 46vw;
    max-width: 378px;
    height: 46vw;
    max-height: 378px;
  }
  .thanks_vote{
    position: absolute;
    bottom: 27px;
  }

}

@media all and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .list .thumbs_icon_selected{
    position: absolute;
    top:0px;
  }
  .list #container_relative_ruling{
    position: initial;
    margin-left: 131px;

  }

  .list .container_bar_percentage{

    bottom: 0px;
    height: 40px;
  }
  
  .list .container_image_ruling {
    background-size: 195px 100%;
    background-position: left;
  }
  .list .container_ruling_texts {
    justify-content: flex-start; 
    align-items: flex-start;
    
  }
  .list .rulign_title{
    font-size: 2.5rem;
  }
  .list .rulign_description {
    font-size: 1rem;
    max-width: 56vw;
  }
  .list .ruling_ago {
    font-size: 0.8rem;
    right: 25px;
    top: -60px;
    position: absolute;
  }
  .list .btn_vote {
    font-size: 0.9rem;
  }
  .list .thumbs_icon_selected, .list .btn_rate {
    width: 1.9rem;
    height: 1.9rem;
  }
  .list .btn_rate img {
    max-width: 0.9rem;
  } 
  .list .ruling_percentaje_number_negative, .list .ruling_percentaje_number_positive{
    font-size: 1.25rem;
  }
  .list .button_actions {
    width:100%;
    bottom: 75px;
}
.thanks_vote {
  position: absolute;
  bottom: 52px;;
  font-size: 0.8rem;
  right: 25px;
  text-align: right;
  width: 100%;
}

.grid .thanks_vote{
  
    bottom: 29px;
}

  .hero {
    max-height: 38rem;
  }

  .hero__background {
    top: -6.5rem;
    left: 0;
    width: 110vw;
    height: auto;
  }

  .featured-card__glass-background {
    background: center no-repeat
        linear-gradient($color-dark-background, $color-dark-background),
      7vw -6.5rem/115vw auto no-repeat url(../assets/img/pope-francis.png);
  }

  .featured-card__content {
    padding: 2rem 1.5rem;
  }

  .featured-card__more-info {
    display: inline-block;
    margin: 0;
    font-weight: 300;
  }

  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
  }

  .banner-top .banner__left {
    flex-basis: 20%;
  }

  .banner-top .banner__right {
    flex-basis: 80%;
  }

  .banner-bottom {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .banner-bottom .banner__background {
    top: -230%;
  }

  .banner-bottom .banner__right {
    width: auto;
  }

  .banner-bottom .banner__heading {
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .banner-bottom .banner__cta {
    width: 16rem;
  }

  .footer {
    align-items: flex-start;
  }

  .footer__links ul,
  .footer__social {
    display: flex;
  }

  .footer__links ul li {
    padding: 0;
    margin-right: 2rem;
    font-size: 1rem;
  }

  .footer__social {
    align-items: center;
  }

  .footer__social span {
    margin-right: 1rem;
    color: $color-dark-gray;
    font-size: 0.833rem;
  }

  .footer__social > ul {
    margin-top: 3px;
  }
}

@media all and (min-width: 1100px) {
  html,
  body {
    font-size: 18px;
  }

  .rulign_title{
    font-size: 2rem;
  }
  .rulign_description {
    font-size: 1rem;
    margin-top: 7px;
  }
  .ruling_ago {
    font-size: 0.8rem;
  }
  .btn_vote {
    font-size: 1rem;
  }
  .thumbs_icon_selected, .btn_rate {
    width: 2rem;
    height: 2rem;
  }
  .btn_rate img {
    max-width: 1rem;
}
  .ruling_percentaje_number_negative, .ruling_percentaje_number_positive{
    font-size: 1rem;
  }
  .grid .swiper-slide {
    width: 46vw;
    max-width: 357px;
    height: 46vw;
    max-height: 378px;
}
  .grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 14px;
  }
  .list #container_relative_ruling {
    position: initial;
    margin-left: 164px;
   
}
    .list .rulign_description {
      font-size: 1rem;
      max-width: 692px;
    }
  .list .container_image_ruling {
    background-size: 250px 100%;
    background-position: left;
  }
  .list .btn_vote {
    font-size: 0.9rem;
  }
  .list .thumbs_icon_selected, .list .btn_rate {
    width: 2rem;
    height: 2rem;
  }
  .list .btn_rate img {
    max-width: 1rem;
  } 
  .list .ruling_percentaje_number_negative, .list .ruling_percentaje_number_positive{
    font-size: 1.25rem;
  }
  .list .button_actions {

    bottom: 75px;
}
  .list .container_bar_percentage{
    height: 50px;
  }


  .max-centered {
    position: relative;
    display: block;
    width: 100vw;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .max-centered > *,
  .max-centered > hr[role="separator"] {
    margin-right: 0;
    margin-left: 0;
  }

  .max-centered main {
    padding: 0;
  }

  .nav {
    min-height: 22vh;
  }

  .nav__logo {
    margin-top: 3rem;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__links {
    position: absolute;
    top: 3rem;
    right: 0;
    left: auto;
    width: 40vw;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
    transform: translateX(0);
  }

  .nav__links li {
    width: fit-content;
    margin: 0 1rem 0 0;
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
  }

  .nav__links li:last-child {
    order: 0;
  }

  .nav__search {
    width: 2rem;
    height: 2rem;
  }

  .nav__search-input {
    display: none;
  }

  .hero {
    min-height: 700px;
  }

  .hero__background {
    top: -2.5rem;
    left: 0;
    width: 100vw;
    height: auto;
  }

  .hero__featured-card {
    left: 0;
    width: 50%;
    min-width: 600px;
    max-height: unset;
    margin-top: 2.5rem;
  }

  .featured-card__glass-background {
    background: center no-repeat
        linear-gradient($color-dark-background, $color-dark-background),
      calc(-50vw + 650px) -6rem/105vw auto no-repeat url(../assets/img/pope-francis.png);
  }

  .featured-card__content {
    padding: 2rem 1.5rem;
  }

  .featured-card__desc {
    max-width: 85%;
    margin: 2rem 0 1rem;
  }

  .featured-card__cta {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
  }

  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
  }

  .featured-card__buttons > .icon-button {
    height: auto;
  }

  .featured-card__buttons > .icon-button > img {
    max-width: 2rem;
    height: 2rem;
    margin: 1.3rem 0;
  }

  .closing-gauge__left {
    padding-right: 1rem;
  }

  .closing-gauge__right {
    padding-left: 1rem;
  }

  .closing-gauge__title {
    font-size: 1.25rem;
  }

  .closing-gauge__number,
  .closing-gauge__desc {
    font-size: 2rem;
  }

  .closing-gauge__left:after {
    border-top-width: 0.33rem;
    border-bottom-width: 0.33rem;
  }

  .banner-top .banner__text,
  .banner-top .banner__left > .banner__hairline {
    font-size: 1rem;
  }

  .banner-top .banner__left > .banner__title {
    font-size: 1.5rem;
    letter-spacing: 0;
  }

  .banner-top .icon-button {
    display: block;
    margin-left: 2rem;
  }

  .banner-bottom .banner__cta {
    width: 20rem;
  }

  main h2 {
    font-size: 2.5rem;
  }

  hr[role="separator"] {
    margin: 2rem 0;
  }
}
