.h-100vh {
  height: 100vh;
}
.w-100 {
  width: 100%;
}
.position-fixed {
  position: fixed !important;
}
.align-items-center {
  align-items: center;
}
.d-none {
  display: none !important;
}
.justify-content-center {
  justify-content: center;
}
.d-flex {
  display: flex !important;
}
.flex-grow-1 {
  flex-grow: 1;
}

.div[hidden] {
  display: none !important;
}
